* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: #f8f9fb;
}

/* Main navigation */

.logo {
    width: 8%;
    display: inline-block;
    margin-left: 50px;
    cursor: pointer;
    margin-bottom: 0;
}

.mainnav {
    background: linear-gradient(90deg, #023e8a, #020338); 
    height: 100px;
    width: 100%;
}

.mainnav ul {
    float: right;
    margin-right: 20px;
    }

.mainnav ul li {
    display: inline-block;
    line-height: 98px;
    margin: 0 5px;
}

.mainnav ul li a {
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 4px;
    font-weight: 600;
}

.mainnav a:hover {
    background: #6c757d;
    transition: 0.5s;
}

.checkbutton {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.checkbutton-two {
    font-size: 20px;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 80px; 
    margin-right: 40px; 
    cursor: pointer;
    display: none;
    z-index: 20;
}

#check {
    display: none;
}

#checktwo {
    display: none;
}

/* Sidebar navigation */

.sidebar {
    width: 22%;
    position: relative;
    
}

.sidenav {
    background: #dcdfe5;
    height: 100vh;
    width: 100%;
    position: relative;
}

.sidenav ul {
    display: flex;
    flex-direction: column;
    position: relative;
}

.sidenav ul li {
    background-color: #dcdfe5;
    transition: 0.4s;
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding: 10px;
    line-height: 26px;
    text-align: left;
    }

.sidenav .sideul li a {
    color: #020338;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    text-align: left;
    }

.sidenav .services-products {
    background-color: #393e41;
    color: white;
    text-align: center;
    list-style: none;
    font-weight: bold;
    text-decoration: none;
}

.sidenav .services-products a {
    text-decoration: none;
}

.sidenav .sideul li:hover {
    background-color: #b0b5bf;
}

/* Right content */

.mainbody {
    display: flex;
    width: 100%;
    margin: 0;
}

.contentholder {
    width: 78%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.contentholder img {
    width: 100%;
    position: relative;
    top: 0px;
}

.maintext {
    width: 70%;
    position: relative;
    left: 15%;
    margin-top: 30px;
}

.maintext p {
    font-size: 20px;
    line-height:32px;
    text-align: justify;
    color: #020338;
}

/* dropdown menus */
.dropdown-one {
    position: relative;
    transition: 0.5s;
}

.dropdown-one:hover .dropdown-menu-one {
    display: block;
    transition: 0.5s;
}

.dropdown-menu-one {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 3;
    width: 300px;
    display: none;
    transition: 0.5s;
}

.dropdown-menu-one li {
    list-style: none;
    display: block;
    transition: 0.5s;
    
}

.dropdown-two {
    position: relative;
    transition: 0.5s;
}

.sideul .dropdown-one .dropdown-menu-one  .dropdown-two .third-level {
    background-color: yellow;
    color: red;
}

.sideul .dropdown-one .dropdown-menu-one  .dropdown-two .third-level:hover {
    background-color: lightyellow;
}


.sideul .dropdown-one .dropdown-menu-one .second-level {
    background-color: green;
}

.sideul .dropdown-one .dropdown-menu-one .second-level:hover {
    background-color: lightgreen;
}

.dropdown-two:hover .dropdown-menu-two {
    display: block;
    transition: 0.5s;
}

.dropdown-menu-two {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 3;
    width: 300px;
    display: none;
    transition: 0.5s;
}

.dropdown-menu-two li {
    list-style: none;
    display: block;
    transition: 0.5s;
}

.downarrow {
    font-size: 14px;
    opacity: 0;
}

/* Footer */
footer {
    height: 100px;
    width: 100%;
    background: linear-gradient(90deg, #023e8a, #020338); 
}


/* Media Querys */

@media (max-width: 952px) {
    .checkbutton {
        display: block;
    }

    .checkbutton-two {
        display: block;
        z-index: 3;
    }
    
    .mainnav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #adb5bd;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index: 2;
    }

    .mainnav ul li {
        display: block;
        margin: 50px 0;
        line-height: 10px;
        
    }

    .mainnav ul li a {
        font-size: 20px;
        
    }

    .sidebar {
        left: -100%;
        width: 100%;
        position: absolute;
        z-index: 3;
    }

    .sidenav ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #adb5bd;
        left: -200%;
        text-align: center;
        transition: all 0.5s;
        z-index: 3;
    }

    .sidenav ul li {
        display: block;
        /* line-height: 30px; */
    }

    .sidenav .sideul li a {
        font-size: 14px;
    }

    a:hover {
        background: none;
        color: #212529;
    }

    #check:checked ~ ul {
        left: 0;
    }

    #checktwo:checked ~ .mainbody .sidebar {
        left: 0;
    }

    #checktwo:checked ~ .mainbody .sidebar .sideul {
        left: 0;
    }

   div {
    width: 100%;
    float: none;
   }

   img {
    max-width: 100%;
   }
   .logo {
    width: 30%;
   }

   .dropdown-menu-one,
   .dropdown-menu-two {
    position: relative;
    top: 0;
    z-index: 4;
    width: 100%;
    transition: 0.5s;
    left: 0%;
   }
   .dropdown-one {
    /* position: relative; */
    transition: 0.5s;
   }
   .mainbody {
    flex-direction: column;
   }
   .contentholder {
    width: 100%;
   }

   .downarrow {
    font-size: 12px;
    opacity: 1;
   }

   
}


